[submodule "SCI/extern/SEAL"]
	path = SCI/extern/SEAL
	url = https://github.com/microsoft/SEAL.git
[submodule "SCI/extern/eigen"]
	path = SCI/extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
